{% extends 'base.html' %}

{% block content %}

	         

	<!--Reset Password-->
	<br>
	<div class="container">
		<div class="row-2">
			<div class="row-sm row-lg-8">

				<div class="col col-sm-2 col-lg-3">&nbsp;</div>

				<div class="col col-sm-10 col-lg-5">
					<h2 class="font-weight-bold mt-3">Senha recuperada com sucesso!</h2>
					<hr>
					<p>Sua senha foi alterada com sucesso, realize novo login para acessar a plataforma.</p>
					<div>
				
					</div>
				</div>
				
				<div class="col col-sm-2 col-lg-3">&nbsp;</div>

			</div>
		</div>
	</div> 

{% endblock %}