<option value="GESTÃO"      {% if disciplina_select == "GESTÃO"  %} selected="selected" {% endif %}>GESTÃO</option>
<option value="HUMANAS"     {% if disciplina_select == "HUMANAS" %} selected="selected" {% endif %}>HUMANAS</option>
<option value="EXATAS"      {% if disciplina_select == "EXATAS" %} selected="selected" {% endif %}>EXATAS</option>
<option value="ENGENHARIA"  {% if disciplina_select == "ENGENHARIA" %} selected="selected" {% endif %}>ENGENHARIA</option>
<option value="COMPUTAÇÃO"  {% if disciplina_select == "COMPUTAÇÃO" %} selected="selected" {% endif %}>COMPUTAÇÃO</option>
<option value="ADMINISTRAÇÃO"{% if disciplina_select == "ADMINISTRAÇÃO" %} selected="selected" {% endif %}>ADMINISTRAÇÃO</option>