<option value="GESTÃO"      {% if disciplina_select == "GESTÃO"  %} selected="selected" {% endif %}>GESTÃO</option>
<option value="HUMANAS"     {% if disciplina_select == "HUMANAS" %} selected="selected" {% endif %}>HUMANAS</option>
<option value="EXATAS"      {% if disciplina_select == "EXATAS" %} selected="selected" {% endif %}>EXATAS</option>
<option value="ENGENHARIA"  {% if disciplina_select == "ENGENHARIA" %} selected="selected" {% endif %}>ENGENHARIA</option>
<option value="COMPUTAÇÃO"  {% if disciplina_select == "COMPUTAÇÃO" %} selected="selected" {% endif %}>COMPUTAÇÃO</option>
<option value="ADMINISTRAÇÃO"{% if disciplina_select == "ADMINISTRAÇÃO" %} selected="selected" {% endif %}>ADMINISTRAÇÃO</option>
<option value="CONTÁBEIS"   {% if disciplina_select == "CONTÁBEIS" %} selected="selected" {% endif %}>CONTÁBEIS</option>
<option value="RH"   {% if disciplina_select == "RH" %} selected="selected" {% endif %}>RH</option>
<option value="MARKETING"   {% if disciplina_select == "MARKETING" %} selected="selected" {% endif %}>MARKETING</option>
<option value="SAÚDE"   {% if disciplina_select == "SAÚDE" %} selected="selected" {% endif %}>SAÚDE</option>
<option value="AGRO"   {% if disciplina_select == "AGRO" %} selected="selected" {% endif %}>AGRO</option>
<option value="PEDAGOGIA"   {% if disciplina_select == "PEDAGOGIA" %} selected="selected" {% endif %}>PEDAGOGIA</option>
<option value="SERVIÇO SOCIAL"   {% if disciplina_select == "SERVIÇO SOCIAL" %} selected="selected" {% endif %}>SERVIÇO SOCIAL</option>
<option value="OUTRAS"   {% if disciplina_select == "OUTRAS" %} selected="selected" {% endif %}>OUTRAS</option>