<option value="ADMINISTRAÇÃO"{% if disciplina_select == "ADMINISTRAÇÃO" %} selected="selected" {% endif %}>ADMINISTRAÇÃO</option>
<option value="CIÊNCIA CONTÁBEIS"   {% if disciplina_select == "CIÊNCIA CONTÁBEIS" %} selected="selected" {% endif %}>CIÊNCIA CONTÁBEIS</option>
<option value="GESTÃO PÚBLICA"      {% if disciplina_select == "GESTÃO PÚBLICA"  %} selected="selected" {% endif %}>GESTÃO PÚBLICA</option>
<option value="MATEMÁTICA"   {% if disciplina_select == "MATEMÁTICA" %} selected="selected" {% endif %}>MATEMÁTICA</option>
<option value="ADS - ANÁLISE E DESENVOLVIMENTO DE SISTEMAS"  {% if disciplina_select == "ADS - ANÁLISE E DESENVOLVIMENTO DE SISTEMAS" %} selected="selected" {% endif %}>ADS - ANÁLISE E DESENVOLVIMENTO DE SISTEMAS</option>
<option value="OUTRAS"   {% if disciplina_select == "" %} selected="selected" {% endif %}>---------------------------</option>
<option value="AGRONEGÓCIO"   {% if disciplina_select == "AGRONEGÓCIO" %} selected="selected" {% endif %}>AGRONEGÓCIO</option>
<option value="ARQUITETURA E URBANISMO"   {% if disciplina_select == "ARQUITETURA E URBANISMO" %} selected="selected" {% endif %}>ARQUITETURA E URBANISMO</option>
<option value="BIOMEDICINA"   {% if disciplina_select == "BIOMEDICINA" %} selected="selected" {% endif %}>BIOMEDICINA</option>
<option value="ED. FÍSICA"   {% if disciplina_select == "ED. FÍSICA" %} selected="selected" {% endif %}>ED. FÍSICA</option>
<option value="EMPREENDEDORISMO"   {% if disciplina_select == "EMPREENDEDORISMO" %} selected="selected" {% endif %}>EMPREENDEDORISMO</option>
<option value="ENGENHARIA"   {% if disciplina_select == "ENGENHARIA" %} selected="selected" {% endif %}>ENGENHARIA</option>
<option value="ENGENHARIA CIVIL"   {% if disciplina_select == "ENGENHARIA CIVIL" %} selected="selected" {% endif %}>ENGENHARIA CIVIL</option>
<option value="ENGENHARIA ELÉTRICA"   {% if disciplina_select == "ENGENHARIA ELÉTRICA" %} selected="selected" {% endif %}>ENGENHARIA ELÉTRICA</option>
<option value="ENGENHARIA MECATRÔNICA"   {% if disciplina_select == "ENGENHARIA MECATRÔNICA" %} selected="selected" {% endif %}>ENGENHARIA MECATRÔNICA</option>
<option value="ENGENHARIA MECÂNICA"   {% if disciplina_select == "ENGENHARIA MECÂNICA" %} selected="selected" {% endif %}>ENGENHARIA MECÂNICA</option>
<option value="ENGENHARIA DE PRODUÇÃO"   {% if disciplina_select == "ENGENHARIA DE PRODUÇÃO" %} selected="selected" {% endif %}>ENGENHARIA DE PRODUÇÃO</option>
<option value="ENGENHARIA DE SOFTWARE"   {% if disciplina_select == "ENGENHARIA DE SOFTWARE" %} selected="selected" {% endif %}>ENGENHARIA DE SOFTWARE</option>
<option value="ENFERMAGEM"   {% if disciplina_select == "ENFERMAGEM" %} selected="selected" {% endif %}>ENFERMAGEM</option>
<option value="FARMÁCIA"   {% if disciplina_select == "FARMÁCIA" %} selected="selected" {% endif %}>FARMÁCIA</option>
<option value="FILOSOFIA"   {% if disciplina_select == "FILOSOFIA" %} selected="selected" {% endif %}>FILOSOFIA</option>
<option value="GEOGRAFIA"   {% if disciplina_select == "GEOGRAFIA" %} selected="selected" {% endif %}>GEOGRAFIA</option>
<option value="GERONTOLOGIA"   {% if disciplina_select == "GERONTOLOGIA" %} selected="selected" {% endif %}>GERONTOLOGIA</option>
<option value="GESTÃO AMBIENTAL"   {% if disciplina_select == "GESTÃO AMBIENTAL" %} selected="selected" {% endif %}>GESTÃO AMBIENTAL</option>
<option value="GESTÃO COMERCIAL"   {% if disciplina_select == "GESTÃO COMERCIAL" %} selected="selected" {% endif %}>GESTÃO COMERCIAL</option>
<option value="GESTÃO DA SAÚDE PÚBLICA"   {% if disciplina_select == "GESTÃO DA SAÚDE PÚBLICA" %} selected="selected" {% endif %}>GESTÃO DA SAÚDE PÚBLICA</option>
<option value="GESTÃO FINANCEIRA"   {% if disciplina_select == "GESTÃO FINANCEIRA" %} selected="selected" {% endif %}>GESTÃO FINANCEIRA</option>
<option value="GESTÃO HOSPITALAR"   {% if disciplina_select == "GESTÃO HOSPITALAR" %} selected="selected" {% endif %}>GESTÃO HOSPITALAR</option>
<option value="GESTÃO DA PRODUÇÃO INDUSTRIAL"   {% if disciplina_select == "GESTÃO DA PRODUÇÃO INDUSTRIAL" %} selected="selected" {% endif %}>GESTÃO DA PRODUÇÃO INDUSTRIAL</option>
<option value="GESTÃO DA QUALIDADE"   {% if disciplina_select == "GESTÃO DA QUALIDADE" %} selected="selected" {% endif %}>GESTÃO DA QUALIDADE</option>
<option value="GESTÃO DA TECNOLOGIA DA INFORMAÇÃO"   {% if disciplina_select == "GESTÃO DA TECNOLOGIA DA INFORMAÇÃO" %} selected="selected" {% endif %}>GESTÃO DA TECNOLOGIA DA INFORMAÇÃO</option>
<option value="GESTÃO DE COOPERATIVAS"   {% if disciplina_select == "GESTÃO DE COOPERATIVAS" %} selected="selected" {% endif %}>GESTÃO DE COOPERATIVAS</option>
<option value="GESTÃO DE RECURSOS HUMANOS"   {% if disciplina_select == "GESTÃO DE RECURSOS HUMANOS" %} selected="selected" {% endif %}>GESTÃO DE RECURSOS HUMANOS</option>
<option value="GESTÃO DE SEGURANÇA PRIVADA"   {% if disciplina_select == "GESTÃO DE SEGURANÇA PRIVADA" %} selected="selected" {% endif %}>GESTÃO DE SEGURANÇA PRIVADA</option>
<option value="HISTÓRIA"   {% if disciplina_select == "HISTÓRIA" %} selected="selected" {% endif %}>HISTÓRIA</option>
<option value="JOGOS DIGITAIS"   {% if disciplina_select == "JOGOS DIGITAIS" %} selected="selected" {% endif %}>JOGOS DIGITAIS</option>
<option value="LOGÍSTICA"   {% if disciplina_select == "LOGÍSTICA" %} selected="selected" {% endif %}>LOGÍSTICA</option>
<option value="MANUTENÇÃO INDUSTRIAL"   {% if disciplina_select == "MANUTENÇÃO INDUSTRIAL" %} selected="selected" {% endif %}>MANUTENÇÃO INDUSTRIAL</option>
<option value="MARKETING"   {% if disciplina_select == "MARKETING" %} selected="selected" {% endif %}>MARKETING</option>
<option value="NEGÓCIOS IMOBILIÁRIOS"   {% if disciplina_select == "NEGÓCIOS IMOBILIÁRIOS" %} selected="selected" {% endif %}>NEGÓCIOS IMOBILIÁRIOS</option>
<option value="NUTRIÇÃO"   {% if disciplina_select == "NUTRIÇÃO" %} selected="selected" {% endif %}>NUTRIÇÃO</option>
<option value="PEDAGOGIA"   {% if disciplina_select == "PEDAGOGIA" %} selected="selected" {% endif %}>PEDAGOGIA</option>
<option value="PROCESSOS GERENCIAIS"   {% if disciplina_select == "PROCESSOS GERENCIAIS" %} selected="selected" {% endif %}>PROCESSOS GERENCIAIS</option>
<option value="PRODUÇÃO CERVEJEIRA"   {% if disciplina_select == "PRODUÇÃO CERVEJEIRA" %} selected="selected" {% endif %}>PRODUÇÃO CERVEJEIRA</option>
<option value="PSICOPEDAGOGIA"   {% if disciplina_select == "PSICOPEDAGOGIA" %} selected="selected" {% endif %}>PSICOPEDAGOGIA</option>
<option value="REDE DE COMPUTADORES"   {% if disciplina_select == "REDE DE COMPUTADORES" %} selected="selected" {% endif %}>REDE DE COMPUTADORES</option>
<option value="SECRETARIADO"   {% if disciplina_select == "SECRETARIADO" %} selected="selected" {% endif %}>SECRETARIADO</option>
<option value="SEGURANÇA ALIMENTAR"   {% if disciplina_select == "SEGURANÇA ALIMENTAR" %} selected="selected" {% endif %}>SEGURANÇA ALIMENTAR</option>
<option value="SEGURANÇA NO TRABALHO"   {% if disciplina_select == "SEGURANÇA NO TRABALHO" %} selected="selected" {% endif %}>SEGURANÇA NO TRABALHO</option>
<option value="SERVIÇO SOCIAL"   {% if disciplina_select == "SERVIÇO SOCIAL" %} selected="selected" {% endif %}>SERVIÇO SOCIAL</option>
<option value="SISTEMAS PARA INTERNET"   {% if disciplina_select == "SISTEMAS PARA INTERNET" %} selected="selected" {% endif %}>SISTEMAS PARA INTERNET</option>
<option value="SOCIOLOGIA"   {% if disciplina_select == "SOCIOLOGIA" %} selected="selected" {% endif %}>SOCIOLOGIA</option>
<option value="TEOLOGIA"   {% if disciplina_select == "TEOLOGIA" %} selected="selected" {% endif %}>TEOLOGIA</option>
<option value="OUTRAS"   {% if disciplina_select == "OUTRAS" %} selected="selected" {% endif %}>OUTRAS</option>