
<option value="UNICESUMAR"  {% if faculdade_select == "UNICESUMAR"  %} selected="selected" {% endif %}>UNICESUMAR</option>
<option value="UNOPAR"      {% if faculdade_select ==  "UNOPAR"  %} selected="selected" {% endif %}>UNOPAR</option>
<option value="UNIP"      {% if faculdade_select ==  "UNIP"  %} selected="selected" {% endif %}>UNIP</option>
<option value="UNIASSELVI"      {% if faculdade_select ==  "UNIASSELVI"  %} selected="selected" {% endif %}><UNIASSELVI/option>
<option value="UNINTER"      {% if faculdade_select ==  "UNINTER"  %} selected="selected" {% endif %}>UNINTER</option> 
<option value="ANHANGUERA"      {% if faculdade_select ==  "ANHANGUERA"  %} selected="selected" {% endif %}>ANHANGUERA</option>
<option value="ESTÁCIO"     {% if faculdade_select ==  "ESTÁCIO"  %} selected="selected" {% endif %}>ESTÁCIO</option>
<option value="FAEL"      {% if faculdade_select ==  "FAEL"  %} selected="selected" {% endif %}>FAEL</option>
<option value="UNINGÁ"      {% if faculdade_select ==  "UNINGÁ"  %} selected="selected" {% endif %}>UNINGÁ</option>
<option value="UNICSUL"      {% if faculdade_select ==  "UNICSUL"  %} selected="selected" {% endif %}>UNICSUL</option>
<option value="FAP"         {% if faculdade_select ==  "FAP"  %} selected="selected" {% endif %}>FAP</option>
<option value="OUTRAS"      {% if faculdade_select ==  "OUTRAS"  %} selected="selected" {% endif %}>OUTRAS</option>

