
<option value="UNICESUMAR"  {% if faculdade_select == "UNICESUMAR"  %} selected="selected" {% endif %}>UNICESUMAR</option>
<option value="UNINGÁ"      {% if faculdade_select ==  "UNINGÁ"  %} selected="selected" {% endif %}>UNINGÁ</option>
<option value="UNIRIO"      {% if faculdade_select ==  "UNIRIO"  %} selected="selected" {% endif %}>UNIRIO</option>
<option value="UNOPAR"      {% if faculdade_select ==  "UNOPAR"  %} selected="selected" {% endif %}>UNOPAR</option>
<option value="ESTÁCIO"     {% if faculdade_select ==  "ESTÁCIO"  %} selected="selected" {% endif %}>ESTÁCIO</option>
<option value="FAP"         {% if faculdade_select ==  "FAP"  %} selected="selected" {% endif %}>FAP</option>

