{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container"> <H1>EQUIPE</H1></div>

<br><br>
<div class="container invisible-sm">
    <div class="row">
        <div style="width:20%;">&nbsp;</div>
        <div style="width:60%;">
            <p><h2>Quer fazer parte da Equipe?</h2></p><br><br>
            <h3>Entre em contato e pergunte como: contato@papiron.com.br</h3>
            <br><br><br>
            <h4>Muitas disciplinas disponíveis para cadastro e negociação</h4>
            <H5>Informe a Faculdade e a área de interesse.</H5>
        </div>
        <div>&nbsp;</div>
    </div>

</div>

<div class="container invisible-lg">
    <div class="row">
        <div style="width:5%;">&nbsp;</div>
        <div style="width:90%;">
            <p><h2>Quer fazer parte da Equipe?</h2></p><br><br>
            <h3>Entre em contato e pergunte como: contato@papiron.com.br</h3>
            <br><br><br>
            <h4>Muitas disciplinas disponíveis para cadastro e negociação</h4>
            <p>Informe a Faculdade e a área de interesse.</p>
        </div>
        <div>&nbsp;</div>
    </div>

</div>


<br><br><br>
{% endblock %}