{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
    {% include 'usuarios/partials/_painel.html' %}

    <br>

    <section>
        <div class="container" style="width: 600px;"> 
            <h4>Meus Dados</h4><br>

            
            
            <form action="{% url 'form_dados' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col col-10">
                    <div>Usuário</div>
                    <div><input type="" class="form-control" name="nome" value="{{ user.username }}"></input></div>
                    <br>
                    <div>e-mail</div>
                    <div><input type="" class="form-control" name="email" value="{{ user.email }}" disabled="disabled"></div>
                    <br>
                    <div>Nome</div>
                    <div><input type="" class="form-control" name="first_name" value="{{ user.first_name }}"></input></div>
                    <br>
                    <div>Sobrenome</div>
                    <div><input type="" class="form-control" name="last_name" value="{{ user.last_name }}"></input></div>
                    <br>
                    {% if dados_assinante %}
                    <label for="file"><b>Dados de Assinante</b></label>
                    <br>
                    <div>CPF</div>
                    <div><input type="" class="form-control" name="cpf" value="{{ dados_assinante.CPF }}" ></div>
                    <br>
                    <div>Whatsapp</div>
                    <div><input type="" class="form-control" name="whatsapp" value="{{ dados_assinante.whatsapp }}" placeholder="Não deixe de inserir o +55"></input></div>
                    <br>
                    <div>Instagram</div>
                    <div><input type="" class="form-control" name="instagram" value="{{ dados_assinante.instagram }}"></input></div>
                    <br>
                    <div>LinkedIn</div>
                    <div><input type="" class="form-control" name="linkedIn" value="{{ dados_assinante.linkedIn }}"></input></div>
                    <br>
                    <div>Facebook</div>
                    <div><input type="" class="form-control" name="facebook" value="{{ dados_assinante.facebook }}"></input></div>
                    <br>
                    <div>Breve relato :</div>
                    <div><input type="" class="form-control" name="descricao" value="{{ dados_assinante.descricao }}" placeholder="Utilize 250 caracteres"></input></div>
                    <br>
                    <div>Alterar foto</div>
                    <div class="row">
                        <div class="col"><input type="file" class="form-control"  name="foto" style="width: 400px;"></div>
                        <div class="col"></div>
                        <div class="col"><img src="{{dados_assinante.foto}}" alt="" width="100" height="120"></div>
                    {% endif %}
                    <br>
                    <br>
                    <br>
                </div>
                

                    <div class="col-12">
                        <div center>{% include 'partials/_recaptcha.html' %}</div>

                        <div class="block"></div>
                
                        <div><button class="btn delicious-btn mt-30" type="submit">Enviar dados</button></div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endif %}
{% endblock %}