{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container"> <H1>PLANOS</H1></div>

<br><br>
<div class="container invisible-sm">
    <div class="row">
        <div style="width:20%;">&nbsp;</div>
        <div style="width:60%;">
            <p><h2>Ainda estamos aguardando o carregamento do fluxo para lançamento dos planos</h2></p><br><br>
            <h3>Quer ser um assessor do site, sem compromisso, pergunte como: contato@papiron.com.br</h3>
            <p>Informe a Faculdade e a área de interesse.</p>
        </div>
        <div>&nbsp;</div>
    </div>

</div>

<div class="container invisible-lg">
    <div class="row">
        <div style="width:5%;">&nbsp;</div>
        <div style="width:90%;">
            <p><h2>Ainda estamos aguardando o carregamento do fluxo para lançamento dos planos</h2></p><br><br>
            <h3>Quer ser um assessor do site, sem compromisso, pergunte como: contato@papiron.com.br</h3>
            <p>Informe a Faculdade e a área de interesse.</p>
        </div>
        <div>&nbsp;</div>
    </div>

</div>


<br><br><br>
{% endblock %}