<!-- Smartphone -->
<!-- Espaço para publicidade do Assessor, não deve aparecer para outros assessores -->
{% if assinante_random != None %}
<div class="invisible-lg" style="padding-bottom: 90px">
    <hr>
    <p style="font-size:8px;color:darkmagenta">PUBLICIDADE</p>
    <div class="receipe-content-area" style="width:90%; text-align: left; font-weight: bold; padding-left:15px; padding-top: 20px;">
        {% if pergunta.comentario_check == False %}
            <h5> Se está em apuros e ainda não entendeu como fazer a atividade, entre em contato:</h4>
        {% else %}
        <h4>Caso ainda continue com dúvidas após a explicação, entre em contato com o Assessor:</h4><br><br>
        {% endif %}
        <br><br>
    </div>
    {% include 'perguntas/partials/_pub_pergunta_random.html' %}
    <br><hr>
</div>
{% endif %}



<!-- DeskTop -->
{% if assinante_random != None %}
<div class="container" style="width:80%;padding-bottom:10px; margin-top:0px;">
    <div class="invisible-sm" style="padding-bottom: 10px">
        <hr>
        <p style="font-size:8px;color:darkmagenta">PUBLICIDADE</p>
        <div class="receipe-content-area" style="width:90%; text-align: left; font-weight: bold; padding-left:15px; padding-top: 10px;">
            {% if pergunta.comentario_check == False %}
                <h5> Se está em apuros e ainda não entendeu como fazer a atividade, entre em contato:</h4><br><br>
            {% else %}
                <br><hr>
                <h4>Caso ainda continue com dúvidas após a explicação, entre em contato com o Assessor:</h4><br><br>
            {% endif %}
        </div>
        {% include 'perguntas/partials/_pub_pergunta_random.html' %}
        <hr>
    </div>
</div>
{% endif %}

