{% extends 'base.html' %}
{% load static %}
{% block content %}

<style type="text/css">
    .form-style-7{
        max-width:400px;
        margin:50px auto;
        background:#fff;
        border-radius:2px;
        padding:20px;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    .form-style-7 h1{
        display: block;
        text-align: center;
        padding: 0;
        margin: 0px 0px 20px 0px;
        color: #5C5C5C;
        font-size:x-large;
    }
    .form-style-7 ul{
        list-style:none;
        padding:0;
        margin:0;	
    }
    .form-style-7 li{
        display: block;
        padding: 9px;
        border:1px solid #DDDDDD;
        margin-bottom: 30px;
        border-radius: 3px;
    }
    .form-style-7 li:last-child{
        border:none;
        margin-bottom: 0px;
        text-align: center;
    }
    .form-style-7 li > label{
        display: block;
        float: left;
        margin-top: -19px;
        background: #FFFFFF;
        height: 14px;
        padding: 2px 5px 2px 5px;
        color: #B9B9B9;
        font-size: 14px;
        overflow: hidden;
        font-family: Arial, Helvetica, sans-serif;
    }

    .form-style-7 input{
        resize:80%;
        width: 100%;
        height: 50px;
        align-items: center;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; 
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: medium;
        text-indent: 5px;
    }
    .form-style-7 input::placeholder{
        font-weight: normal;
        opacity: .4;
        color: red;
        resize: both;
        align-self: baseline;
    }
        
    
    
    .form-style-7 select 
    {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}
    .form-style-7 li > span{
        background: #F3F3F3;
        display: block;
        padding: 3px;
        margin: 0 -9px -9px -9px;
        text-align: center;
        color: #C0C0C0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
    }
    
    .form-style-7 input[type="submit"],
    .form-style-7 input[type="button"]{
        background: #d20e0e;
        border: none;
        padding: 10px 20px 10px 20px;
        border-bottom: 3px solid #5b0303;
        border-radius: 3px;
        color: #D2E2FF;
    }
    .form-style-7 input[type="submit"]:hover,
    .form-style-7 input[type="button"]:hover{
        background: #5b0303;
        color:#fff;
    }
    </style>


    <div class="container" style="width:100%;height: auto; padding-top: 100px; " >
        <div class="row-4 row-sm-4 col-lg-4" ></div>
            <div class="row-4" style="margin-top:1em">
                <!-- <p style="font-size: 3em;font-weight:normal; color: black; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
                ">Conectanto acadêmicos</p> -->

                <h1>ERRO 400</h1>
                <form class="form-style-7" action="{% url 'buscar' %}">
                    <ul>
                        <li>
                            <input name="buscar"  placeholder="   busque por uma resposta... "></input>
                            <span>Qual é a sua dúvida?</span>
                        </li>
                        <li>
                            <input type="submit" value="Procurar" >
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        //auto expand textarea
        function adjust_textarea(h) {
            h.style.height = "20px";
            h.style.height = (h.scrollHeight)+"px";
            }
    </script>

{% endblock %}

