{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/pizza.png' %}" alt="">
    </div>


    <br><br>
    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="col">
                {% if perguntas %}
                {% for pergunta in perguntas %}
                <!-- Single Best Receipe Area -->
                <div class="col-8 col-sm-8 col-lg-8">
                    <div class="single-best-receipe-area mb-30">
                            <div class="receipe-content text-justify" >
                            <a href="{% url 'pergunta' pergunta.id %}">
                                <h6>>> {{ pergunta.id  }}  - {{ pergunta.intro_pergunta }} </h6>
                                <hr { border: 4;
                                    border-top: 1px solid #094CFA;}>
                            </a>
                        </div>
                    </div>
                </div> 
                {% endfor %}
                {% else %}
                <div class="col-12 col-sm-6 col-lg-4">
                    <p>Nenhuma pergunta relacionada</p>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

{% endblock %}